/* Custom 面板*/
.custom-board {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5C2C2E;
}

.custom-back-button {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 41px;
    top: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    cursor: pointer;
    color: #FFFFFF;
}


.custom-first-player-label {
    position: absolute;
    width: 227px;
    height: 48px;
    left: 419px;
    top: 287px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

}

#custom-first-player {
    position: absolute;
    width: 602px;
    height: 96px;
    left: 419px;
    top: 352px;
    font-size: 45px;
    background: #D9D9D9;
}


.custom-time-label {
    position: absolute;
    width: 102px;
    height: 48px;
    left: 419px;
    top: 488px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    

}

#custom-time {
    position: absolute;
    width: 602px;
    height: 96px;
    left: 419px;
    top: 561px;
    font-size: 45px;
    background: #D9D9D9;
}

.custom-start-button {
    position: absolute;
    width: 333px;
    height: 50px;
    left: 553px;
    top: 748px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #FFFFFF;
}


