/* Game 版面 */
:root {
    --game-board-piece-spot-light-background: #ffffff;
    --game-board-piece-spot-dark-background: #C8BFC7;
}

.game-board {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5C2C2E;
}

.game-board-grid-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    display: grid;
}
.game-board-grid-item {
    display: flex;
    font-size: 30px;
    margin: auto;
}

.game-board-piece-container {
    width: 75px;
    height: 75px;
    padding: 4px;
    transition: box-shadow 0.5s;
}

.game-board-piece-container-droppable {
    box-shadow: inset 0px 0px 0px 4px darkgray;
}

.game-board-piece-container-droppable-hover {
    animation: none;
    box-shadow: inset 0px 0px 0px 10px gray;
}

.game-board-piece-piece-movable {
    cursor: pointer;
}

.game-board-piece-piece img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.game-board-grid-item:nth-child(odd) .game-board-piece-spot:nth-child(odd) {
    background: var(--game-board-piece-spot-dark-background);
}

.game-board-grid-item:nth-child(odd) .game-board-piece-spot:nth-child(even) {
    background: var(--game-board-piece-spot-light-background);
}

.game-board-grid-item:nth-child(even) .game-board-piece-spot:nth-child(odd) {
    background: var(--game-board-piece-spot-light-background);
}

.game-board-grid-item:nth-child(even) .game-board-piece-spot:nth-child(even) {
    background: var(--game-board-piece-spot-dark-background);
}

.game-player1-label-container {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 20%;
    top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.game-player1-name-container {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 20%;
    top: 14%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.game-player2-label-container {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 74%;
    top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.game-player2-name-container {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 74%;
    top: 14%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.game-resign-button-container {
    position: absolute;
    /* width: 10%;
     */
    height: 5%;
    top:3%;
    left: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.game-resign-button {
    background-color: #FFFFFF;
    border-radius: 2px;
    display: block;
    border: none;
    padding: 6px;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.5s;
}

.game-resign-button:hover {
    background-color: #C8BFC7;
}

.game-time-time-container {
    position: absolute;
    width: 10%;
    height: 5%;
    top:3%;
    left:4%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}


.game-player1-chess-role
{
    position: absolute;
    width: 637px;
    height: 807px;
    left: 12%;
    top: 20%;
    z-index: 1;
}

.game-player2-chess-role
{
    position: absolute;
    width: 637px;
    height: 807px;
    left: 75%;
    top: 20%;
    z-index: 1;
}

.back-menu-button {
    position: absolute;
    display: flex;
    width: 20%;
    height: 5%;
    left: 85%;
    top: 3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    background-color: #5C2C2E;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.menu-icon {
    padding: 5px 0;
    margin-top: 3.7%;
    width: 25px;
    height: 3px;
    background: white;
    background-clip: content-box; 
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.menu-text {
    margin-left: 4%;

}

.game-promotion-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4)
}

.game-promotion-panel-container {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
}

.game-promotion-panel {
    background-color: white;
    display: inline-block;
    padding: 4px;
}

.game-promotion-grid {
    background-color: #D9D9D9;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0;
    padding: 6px;
    cursor: pointer;
}

.game-promotion-grid:hover {
    background-color: #c4c2c2;
}

.game-promotion-grid:active {
    background-color: #a09f9f;
}

.game-promotion-grid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes game-hightlight-piece-container {
    0%, 100% { box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, 0); }
    50% { box-shadow: inset 0px 0px 0px 4px darkgray; }
}