/* Game 版面 */
.game-board {
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: #5C2C2E;
}

.piece-square {
    width: 75px;
    height: 75px;
}
  
.light-square {
    background: #D9D9D9;
}
.dark-square {
    background: #FFFFFF;
}

.grid-container {
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
}
.grid-item {
    display: flex;
    font-size: 30px;
    margin: auto;
}

.game-player1-name-container {
    position: absolute;
    width: 161px;
    height: 29px;
    left: 350px;
    top: 96px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.game-player2-name-container {
    position: absolute;
    width: 165px;
    height: 29px;
    left: 926px;
    top: 901px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    
}

.back-menu-button {
    position: absolute;
    width: 85px;
    height: 39px;
    left: 1316px;
    top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    background-color: #5C2C2E;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.game-player1-time-container {
    position: absolute;
    width: 70px;
    height: 29px;
    left: 987px;
    top: 96px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}

.game-player2-time-container {
    position: absolute;
    width: 70px;
    height: 29px;
    left: 385px;
    top: 901px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}