/* Logo 面板 */
.logo-board {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #5C2C2E;
    overflow: hidden;           
}


.logo-logo {
    cursor: pointer;
}

.logo-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

