/* Menu 面板 */
.menu-board {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #5C2C2E;
    overflow: hidden;       
    z-index: 1;             /* 在背景圖上 */           
}


/* Menu 的 Logo */
.menu-logo {
    position: absolute;
    margin-top: -2%;
    left: 2%;
}

.menu-group {
    position: absolute;
    width: 350px;
    height: 29px;
    padding: 10px;
    left: 5%;
    top: 20%;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
}

.menu-button-container {
    position: absolute;
    width: 172px;
    height: 215px;
    left:5%;
    top:25%;
    font-weight: 400;
    line-height: 43px;
    color: #FFFFFF;
}

.menu-button-container button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5C2C2E;
    border: none;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    width: 300px;
    font-size: 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.menu-button-container button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.menu-button-container button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.menu-button-container button:hover span {
    padding-left: 25px;
}
  
.menu-button-container button:hover span:after {
    opacity: 1;
    right: 0;
}


/* Menu 的背景配圖 */
.menu-bg-img {
    box-sizing: border-box;
    position: absolute;
    text-align: right;
    margin-left: 50%;
    margin-top: 20%;
    z-index: -1;        
}

.menu-bg-img svg {
    width: 100%;
    height: 100%;
}