*:not(input) {
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    display:flex;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: default;
    font-family: -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
}

