*:not(input) {
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: black;
    font-family: 'FrostbiteBossFight', -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
}

button {
    font-family: 'FrostbiteBossFight', -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
}

input {
    font-family: -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
}

@font-face {
    font-family: 'FrostbiteBossFight';
    src: url('../font/FrostbiteBossFight-dL0Z.ttf') format('truetype');
}  